[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pymessenger = "*"
flask = "*"
requests = "*"
pymessager = "*"

[requires]
python_version = "3.9"
